@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    padding: 0 30px;
    margin: 0 250px 0 0;
    border-right: 1px solid #e7e7e7;
  }

  #page-wrapper-two {
    position: inherit;
    padding: 0 30px;
    border-right: 1px solid #e7e7e7;
  }
}
