h3#login-page-title {
    text-align: right;
}
label.col-md-4.col-form-label {
    text-align: right;
}
input.form-control {
    direction: rtl;
}
.col-md-8.error-wrapper {
    text-align: right;
    direction: rtl;
}

input#mat-input-2 {
    direction: rtl;
}
